.mgimg{
   margin-right: 100%;
}

.navtext {
   color: black;
}

.background {
   background-color: beige;}


.navbar {
   background-color: antiquewhite;
   

}



.outset{
   border-style: outset;
     background-color: rgb(39, 0, 43);
     color: gray;



 